html {
    scroll-behavior: smooth;
  }
:root {
  --main-color: #e4e4e4;
  --secondary-color: whitesmoke;
  --text-color: #000;
  --link-color: #ff1100;
  --link-color-hover: #ff1100;
  --link-color-active: #fff;
  --bg-color-accordion-one: #eeeeee;
  --bg-color-accordion-two: #e4e4e4;
  --bg-color-accordion-three: #cfcfcf;
  --color-bar-timeline: #555555;
}

.dark:root {
  --main-color: #585858;
  --secondary-color: #222222;
  --text-color: whitesmoke;
  --projects-section: #1f2937;
  --link-color: whitesmoke;
  --link-color-hover: rgba(195, 207, 244, 0.1);
  --link-color-active: #ff1100;
  --bg-color-accordion-one: rgb(98, 98, 98);
  --bg-color-accordion-two: rgb(61, 61, 61);
  --bg-color-accordion-three: rgb(47, 47, 47);
  --color-bar-timeline: #c2000096;
}
body {
    margin: 0px;
    margin: 0px;
    min-width: 320px;
  }
body a {
    color: #ff1100;
    text-decoration: none;
  }
body a:hover {
    color: #ff1100;
    text-decoration: underline;
    text-decoration-color: #ff1100;
  }
  /* bardenav hamb */
  code {
    display: inline-block;
  }

  code,
  .hamburger {
    vertical-align: middle;
  }
/* Back to the top of the page */
.arrow-to-top.active {
    opacity: 0.5;
    display: block;
  }
  
.arrow-to-top {
    position: fixed;
    bottom: 30px;
    right: 50px;
    color: #ff1100;
    opacity: 0;
    display: block;
    transition: 0.3s ease-in-out;
  }
  
.arrow-to-top:hover {
    position: fixed;
    cursor: pointer;
    opacity: 1;
  }
  
 /* Effet sur les titres des sections */
.display-title.in-view {
    visibility: visible;
    opacity: 1;
  }
  
.display-title {
    visibility: hidden;
    opacity: 0;
    transition: all 0.8s ease-in-out;
  }
  body p, h1, h2, span, a {
    font-family: "Montserrat", sans-serif;
  }
  /* ----------------- */
  /* Loader */
  /* ----------------- */  
#loading {
    background: #282828;
    margin: 0;
    width: 100%;
    height: 100vh;
    z-index: 99999;
    position: fixed;
  }
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #ff1100;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #656668;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
  }
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: white;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
  }
@-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
@keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  /*--fin loader-- */ 

  /* Add animation to "page content" */
.animate-bottom {
    /* position: relative; */
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
  }
  
  @-webkit-keyframes animatebottom {
    from {
      bottom: -100px;
      opacity: 0;
    }
    to {
      bottom: 0px;
      opacity: 1;
    }
  }
  
  @keyframes animatebottom {
    from {
      bottom: -100px;
      opacity: 0;
    }
    to {
      bottom: 0;
      opacity: 1;
    }
  }
  
/* ---------------------- */
/* Menu-accueil */
/* ---------------------- */
.header {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    line-height: 80px;
    height: 110px;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    z-index: 999;
  }
.onAncre {
    color: #ff1100 !important;
  }
.header .header-logo-home {
    float: left;
    margin-left: 40px;
    margin-top: 10px;
    width: 100px;
    height: 100px;
  }
.header .header-menu-home ul {
    display: flex;
    margin: 0;
    padding: 0;
  }
.header .header-menu-home li {
    list-style-type: none;
  }
.header .header-menu-home a {
    color: #ffffff;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    margin-right: 30px;
    padding-bottom: 10px;
    transition: all 0.2s ease;
    border-bottom: 1px dotted rgba(0, 0, 0, 0);
  }
.header .header-menu-home {
    font-family: "Montserrat", sans-serif;
    float: right;
    font-size: 1em;
    margin-right: 30px;
  }
.header .header-menu-home a:not(:last-child) {
    margin-right: 25px;
  }
.header .header-menu-home a:hover {
    border-bottom: 3px dotted #ff1100;
  }
.header .header-menu-home .active {
    color: #ff1100;
  }
.mode-switch {
  background-color: transparent;
  border: none;
  padding: 0;
  color: var(--main-color) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ---------------------- */
/* Menu une fois scroller */
/* ---------------------- */

.scrolled {
    background-color: #222222;
    line-height: 65px;
    height: 65px;
    color: var(--text-color);
    animation: fadeInMenu 1.4s;
  }
  .scrolled .mode-switch {
    background-color: transparent;
    border: none;
    padding: 0;
    color: var(--link-color-active) !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.scrolled .onAncre {
    color: #ff1100 !important;
  }
@keyframes fadeInMenu {
    0% {
      opacity: 0;
    }
    99% {
      opacity: 1;
    }
  }
.scrolled a {
    color: white !important;
    transition: none !important;
    border-bottom: none !important;
  }
.scrolled a:hover {
    color: #ff1100 !important;
    border-bottom: none !important;
  }
.scrolled #logoImgHeader {
    float: left;
    margin-left: 40px;
    margin-top: 0px;
    width: 80px;
    height: 80px;
  }
.header .header-menu {
    font-family: "Montserrat", sans-serif;
    float: right;
    font-size: 1em;
    margin-right: 30px;
  }
.header .header-menu a {
    color: white;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    margin-right: 30px;
    font-size: 1.1em;
  }
.header .header-menu a:not(:last-child) {
    margin-right: 25px;
  }
.header .header-menu a:hover {
    color: #ff1100;
    opacity: 1;
  }
.header .header-menu .active {
    color: #ff1100;
  } 
  /* ---- particles.js container ---- */
#particles-js {
    width: 100%;
    height: 100%;
    background-image: url("../img/foret.jpg");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  
/* --------------------- */
/* Banner */
/* ----------------------- */
hr.divider {
    background-color: #ff1100;
    text-align: center;
    height: 5px;
    width: 20%;
    margin-left: 40%;
    opacity: 0.8;
  }
.home-anchor {
    height: 100vh;
  }
.banner {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.banner .banner-content {
    color: white;
    position: absolute;
    text-align: center;
    line-height: 50px;
  }
.banner .banner-content .title-container h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 3.3em;
    opacity: 0.9;
  }
.banner .banner-content .title-container {
    display: flex;
  }
.banner .banner-content .title-container span {
    padding: 5px 25px 0 25px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 3.5em;
    opacity: 0.9;
  }
.banner .btn {
    border: solid 1px var(--text-color);
    color: var(--text-color);
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
  }
.banner .btn:hover {
    background-color: #ff1100;
    border-color: #ff1100;
    color: var(--text-color);
  }
/* 
  @media (max-width: 1023px) {
    .banner .banner-content {
      color: white;
      position: absolute;
      text-align: center;
      line-height: 50px;
    }
  .banner .banner-content .title-container h1 {
    text-align: center;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 3.3em;
      opacity: 0.9;
    }
  } */
/* ------------------ */
/* About-Content */
/* ------------------ */ 
.display-move.in-view {
    transform: none;
    visibility: visible;
    opacity: 1;
  }
.display-move {
    visibility: hidden;
    transform: translate3d(0, 40px, 0);
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
#about-anchor {
    background-color: var(--main-color);
    height: 600px;
  }
.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.about-content .title-about {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 50px;
    border-bottom: solid #ff1100;
    width: auto;
    color: var(--text-color);
    padding-bottom: 2px;
  }
.about-content .title-about h1 {
    font-size: 2.5em;
    margin-bottom: 0px;
  }
.about-content .container-about {
    display: flex;
    align-items: center;
  }
.about-content .container-about .text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
  }
.about-content .container-about .text {
    font-size: 1.1em;
    width: 80%;
    color: var(--text-color);
  }
.about-content .container-about .plus {
    margin-top: 30px;
    display: flex;
    align-items: center;
    align-items: flex-end;
    width: 80%;
  }
.about-content .container-about .cv {
    padding: 7px 25px 7px 25px;
    border: 2px solid rgb(210, 210, 210);
    text-align: center;
    display: block;
    color: var(--text-color);
  }
.about-content .container-about .cv:hover {
    border-color: #ff1100;
    background-color: #ff1100;
    color: var(--text-color);
  }
.about-content .about {
    display: flex;
    margin-top: 30px;
    height: 350px;
    max-width: 100%;
  }
.about-content .about .container-picture {
    display: flex;
    justify-content: center;
    width: 100%;
  }
.about-content .about .container-picture .picture img {
    border-radius: 30px;
  }
/* –––––––––––––––––  */
/* Timeline */
/*–––––––––––––––––– */
.timeline p {
    font-style: italic;
    font-size: 0.9em;
  }
.timeline {
    background: var(--secondary-color);
    color: var(--text-color);
    font-family: "Montserrat", sans-serif;
    height: auto;
  }
.title-timeline {
    background: var(--secondary-color);
    display: flex;
    justify-content: center;
    padding-top: 60px;
 } 
.title-timeline .title {
    text-align: center;
    color: var(--text-color);
    margin-bottom: 50px;
    border-bottom: solid #ff1100;
    width: auto;
    padding-bottom: 2px;
  } 
.timeline ul {
    padding: 30px 0;
    margin-bottom: 0;
  } 
.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: var(--color-bar-timeline);
  }
.timeline ul li::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
  }
.timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background: var(--secondary-color);
  }
.timeline ul li div::before {
    content: "";
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
  }
.timeline ul li:nth-child(odd) div {
    left: 45px;
  }
.timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent var(--secondary-color);
  }
.timeline ul li:nth-child(even) div {
    left: -439px;
  }
.timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent var(--secondary-color);
  }
time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    color: #ff1100;
  }
/* –––––––––––––––––  */
/* Effect timeline */
/*–––––––––––––––––– */
.timeline ul li.in-view::after {
    background: var(--secondary-color) !important;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    transition: inherit;
  }
.timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
.timeline ul li:nth-child(odd) div {
    transform: translate3d(100px, 0, 0);
  }
.timeline ul li:nth-child(even) div {
    transform: translate3d(-100px, 0, 0);
  }
.timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
  }
/* MEDIA QUERIES TIMELINES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #007bff;
  }
}
/* ----------------------- */
/* SKILLS */
/* ----------------------- */
#skills-anchor {
  background-color: var(--main-color);
  height: auto;
}
.display-skills.in-view {
  transform: none;
  visibility: visible;
  opacity: 1;
}
.display-skills {
  visibility: hidden;
  transform: translate3d(0, 40px, 0);
  opacity: 0;
  transition: all 0.5s ease-in-out;
  color: var(--text-color);
}
.title-skills {
  display: flex;
  justify-content: center;
  padding-top: 60px;  
} 
.title-skills .title {
  text-align: center;
  color: var(--text-color);
  margin-bottom: 50px;
  border-bottom: solid #ff1100;
  width: auto;
  padding-bottom: 2px;
} 
.logoSkills p {
    margin-left: 30px;
    margin-bottom: 30px;
    text-align: center;
    padding: 15px;
    width: 215px;
    color: var(--text-color);
    background-color: #0000005d;
    display: inline-block;
    justify-content: center;
    border-radius: 15px;
}
.logoSkills i {
  margin-right: 15px;
  }
.logoSkills h2 {
  text-align: center;
  margin-bottom: 1em;
}
/* ----------------------- */
/* PROJECT */
/* ----------------------- */
#projects-anchor {
  background-color: var(--secondary-color);
  height: auto;
}
.display-projects.in-view {
  transform: none;
  visibility: visible;
  opacity: 1;
}
.display-projects {
  visibility: hidden;
  transform: translate3d(0, -40px, 0);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

/* .display-carousel.in-view {
  visibility: visible;
  opacity: 1;
}
.display-carousel {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
} */
.projects-content .projects-container {
  width: 100%;
}
.projects-content .title-projects {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 50px;
  border-bottom: solid #ff1100;
  width: auto;
  color: var(--text-color);
  padding-bottom: 2px;
}
.projects-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects-content .projects-container {
  width: 100%;
}
/* .mockup {
  display: flex;
  justify-content: center;
} */
.list-projects {
  display: inline-block;
}

.accordion-body {
  text-align: center;
}
.accordion-one {
  background-color: var(--bg-color-accordion-one) !important;
  color: var(--text-color) !important;
}
.accordion-two {
  background-color: var(--bg-color-accordion-two) !important;
  color: var(--text-color) !important;
}
.accordion-three {
  background-color: var(--bg-color-accordion-three) !important;
  color: var(--text-color) !important;
}
/* ----------------------- */
/* Hobbies */
/* ----------------------- */
.hobbies-content .title-hobbies {
  text-align: center;
  padding-top: 50px;
  margin-bottom: 50px;
  border-bottom: solid #ff1100;
  width: auto;
  color: var(--text-color);
  padding-bottom: 2px;
}
.hobbies-content {
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
}
.hobbies-content .hobbies-container {
  width: 60%;
  padding-top: 50px;
}
.hobbies-content .hobbies-container .hobbies {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  justify-content: space-between;
  padding-left: 50px;
}
.hobbies-content .hobbies-container .hobbies-content {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  justify-content: space-between;
  text-align: center;
}
.hobbies-content .hobbies-container .hobbies .hobbies-content .image {
  border-radius: 50%;
  background-color: var(--text-color);
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 15%;
  box-shadow: 3px 3px 6px 1px rgba(6, 6, 6, 0.3);
}
.hobbies-content .hobbies-container .hobbies .hobbies-content .image .icone {
  color: var(--secondary-color);
}
.hobbies-content .hobbies-container .hobbies .hobbies-content span {
  padding-top: 30px;
  color: var(--text-color);
}

/* ------------ */
/* Footer */
/* ------------ */

.footer {
  height: 150px;
  background-color: #222222;
  color: var(--secondary-color);
  text-align: center;
}

.footer-icones {
  visibility: hidden;
  transform: translate3d(0, 30px, 0);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.footer-icones.in-view {
  transform: none;
  visibility: visible;
  opacity: 1;
}

.footer .rights {
  padding-top: 30px;
  color: white;
}

.footer #name {
  color: #ff1100;
}

.footer img {
  height: 40px;
  width: 40px;
  margin-top: 30px;
  margin-left: 15px;
}
/* --------------- */
/* Only Desktop */
/* --------------- */

@media (min-width: 1024px) {
    .error {
      display: none;
    }
    .tiret {
      display: none;
    }
    #about-anchor{
      height: 650px;
    }
    .langages{
      /* margin-left: 170px; */
      text-align: center;
    }
    .frameworks{
      text-align: center;
    }
  }
  /* Tablette portrait */
@media (min-device-width: 630px) and (max-device-width: 1024px) {
  .error {
    display: none;
  }
  .tiret {
    display: block;
  }
  .pipe {
    display: none;
  }

  .banner .banner-content .title-container h1 {
    font-size: 2.3em;
  }

  .about-content .title-about {
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .header .header-logo-home {
    float: left;
    margin-left: 40px;
    margin-top: 10px;
    width: 100px;
    height: 100px;
  }
  .banner .banner-content .title-container .pipe {
    font-size: 2.5em;
  }
  .banner .banner-content h2 {
    font-size: 1.7em;
  }

  .header .header-menu-home a {
    font-size: 0.9em;
  }

  #about-anchor {
    background-color: var(--main-color);
    height: 630px;
  }

  .about-content .container-about .text-content {
    align-items: center;
  }
  .about-content .container-about {
    width: 100%;
  }
  .about-content .about {
    display: flex;
    flex-direction: column;
  }

  .about-content .container-about .plus {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 80%;
  }

  .about-content .about .container-picture .picture img {
    margin-left: 30px;
    margin-top: 50px;
    display: none;
  }
  /* .filterDiv .image {
    width: 200px;
    height: 80px;
  } */

  .about-content .title-about h1 {
    font-size: 2.2em;
  }

  .about-content .container-about .text p {
    font-size: 0.9em;
  }
  .display-projects.in-view {
    display: flex;
    width: 70%;
    justify-content: space-around;
  }
  .filterDiv {
    margin-top: 50px;
    width: 210px;
    height: 90px;
  }
  .filterDiv:nth-child(even) {
    margin-left: 50px;
  }
  /* TIMELINE */
  .timeline {
    height: 100%;
    margin-bottom: 40px;
  }

  #projects-anchor {
    height: 620px;
  }

  .projects-photo {
    width: 100%;
    margin-top: 20px;
  }
  .hobbies-content .hobbies-container {
    width: 70%;
  }
  .hobbies-content .hobbies-container .hobbies {
    padding-left: 20px;
  }
  .title-timeline .title h1 {
    font-size: 2.2em;
  }

  .timeline ul li:nth-child(odd) div {
    transform: translate3d(5px, 0, 0);
  }
  .timeline ul li:nth-child(even) div {
    transform: translate3d(-5px, 0, 0);
    text-align: right;
  }
  .timeline ul li div {
    transform: translate3d(-5px, 0, 0);
    font-size: 0.9em;
  }

  .timeline ul li div time {
    font-size: 1.1em;
  }

  /* skills --- competences */

  #skills-anchor {   
    background-color: var(--main-color);
    height: 840px;
  }
  .display-skills.in-view {
    padding-left: 80px;
  } 
  .frameworks{
    margin-left: 95px;
  }
  
/* ----------------------- */
/* PROJECT */
/* ----------------------- */

#projects-anchor {
  background: var(--secondary-color);
  height: 820px;
  }
.title-projects{

 }


}
/* ----------------------- */
/* HOBBIES */
/* ----------------------- */




  
/* mode telephone */

/* Animation icon menu mobile */

.animated-icon1 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  }
  
  .animated-icon1 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  }
  
  .animated-icon1 span {
  background: var(--link-color);
  }
    
  .animated-icon1 span:nth-child(1) {
  top: 0px;
  }
  
  .animated-icon1 span:nth-child(2) {
  top: 10px;
  }
  
  .animated-icon1 span:nth-child(3) {
  top: 20px;
  }
  
  .animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  }
  
  .animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
  }
  
  .animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  }
  
  /* @media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
      background: rgba(0, 0, 0, 0.74) !important;
    } 
  }*/

  @media (max-width: 1023px) {
    
  }